.product-grid {
  display: flex;
  gap: 1rem;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 0.5rem;
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent) var(--color-background);
  padding: 1rem;
}

.product-card {
  scrollbar-color: var(--color-accent);
  scroll-snap-align: start;
  flex-shrink: 0;
  padding: 0.5rem;
  text-align: left;
  justify-content: center;
  align-items: center;
  background-color: var(--product-card-bg);
  display: flex;
  flex-direction: column;
  width: 9.5rem;
  height: 15rem;
  box-shadow: var(--product-card-shadow);
  border-radius: 0.4rem;
  justify-content: start;
}
.product-card h3 {
  font-weight: 100;
  font-size: var(--font-size-small);
}
.product-image {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: brown;
  border-radius: 0.4rem;
}
.product-info {
  font-family: var(--font-body);
  height: 100%;

  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-info h3 {
  font-family: var(--font-body);
}
.product-info p {
  font-size: var(--font-size-extra-small);
}
.product-info span {
  color: var(--color-accent);
  font-family: var(--font-display);
}
.product-card-cart {
  border-radius: 50%;
  width: 1.7rem;
  background-color: var(--color-accent);
  aspect-ratio: 1/1;
  padding: 0.2rem;
}
.price-n-cart {
  display: flex;
  justify-content: space-between;
}
