.header-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
  align-items: start;
  padding-bottom: 0;
}
.header-svgs {
  width: 1.8rem;
}
.logo {
  display: inline-block;
  font-size: var(--font-size-h3);
}
.cmx {
  display: inline-block;
  font-family: var(--font-display);
  color: var(--color-accent);
}

.shop-nav {
  color: var(--color-secondary);
  display: flex;
  align-items: end;
}
